<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form' }) do |f| %>
  <%= devise_error_messages! %>

  <div class='fields'>
    <%= f.label :full_name, class: 'label' %>
    <%= f.text_field :full_name, placeholder: 'Type your name', class: 'input' %>

    <%= f.label :email, class: 'label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Your email address', class: 'input' %>

    <%= f.label :password, class: 'label' %>
    <%= f.password_field :password, autocomplete: 'new-password', class: 'input' %>

    <%= f.label :password_confirmation, class: 'label' %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'button submit' %>
  </div>
<% end %>
