<% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Signin', new_user_session_path)  %>
  </li>
  <li>
    <%= link_to('Signup', new_user_registration_path)  %>
  </li>
<% end %>
