<%= form_for(@contract, html: { class: 'form form--contract' }) do |f| %>
  <ul>
    <% @contract.errors.messages.each do |_attribute, messages| %>
      <% messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  </ul>

  <div class='fields'>
    <%= f.label :vendor, class: 'label' %>
    <div class='custom-select'>
      <%= f.select :vendor_id,
        Vendor.all.collect { |vendor| [vendor.name, vendor.id] },
        { include_blank: true },
        data: { vendor: true }, class: 'input'
      %>
    </div>

    <div class="custom-select <%= 'hidden' unless @contract.vendor %>">
      <%= f.label :category, class: 'label' %>
      <%= f.select :category_id,
        @contract.vendor ? @contract.vendor.categories.collect {|category| [category.name, category.id]} : [],
        { include_blank: true },
        data: { categories: true }, class: 'input'
      %>
    </div>

    <%= f.label :costs, class: 'label' %>
    <%= f.text_field :costs, class: 'input' %>

    <%= f.label :ends_on, class: 'label' %>
    <%= f.text_field :ends_on, class: 'input' %>
  </div>

  <div class="actions">
    <%= f.submit submit, class: 'button submit' %>
  </div>
<% end %>
