<h2>My contracts</h2>

<%= link_to 'Add Contract', new_contract_path, class: 'button submit space-bottom' %>
<br />

<% if @contracts.empty? %>
  <span class="empty-state">No contracts yet</span>
<% else %>
  <div class='contract-list'>
    <% @contracts.each do |contract| %>
      <%= link_to edit_contract_path(contract), class: 'contract-list--item' do %>
        <div class='contract-list--attribute'>
          <span class='attribute-name'>Vendor</span>
          <%= contract.vendor.name %>
        </div>

        <div class='contract-list--attribute'>
          <span class='attribute-name'>Category</span>
          <%= contract.category.name %>
        </div>

        <div class='contract-list--attribute'>
          <span class='attribute-name'>Cost</span>
          <%= number_to_currency(contract.costs) %>
        </div>

        <div class='contract-list--attribute'>
          <span class='attribute-name'>Ends on</span>
          <%= l contract.ends_on, format: :short %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
