<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="fields">
    <%= f.label :email, class: 'label' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>

    <%= f.label :password, class: 'label' %>
    <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In", class: 'button submit' %>
  </div>
<% end %>
