.button {
  border: 0;
  border-radius: 8px;
  padding: 11px 20px;
  font-size: 1em;
  text-decoration: none;
  color: #000;
  cursor: pointer;

  &.submit {
    display: inline-block;
    background-color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
  }
}
