.contract-list {
  margin: 40px auto;
  width: 800px;
}

.contract-list--item {
  display: flex;
  margin: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border: 1px solid #ccc;
  align-content: center;
  text-decoration: none;
}

.contract-list--attribute {
  display: flex;
  padding: 10px;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
  font-size: 20px;
  font-weight: lighter;
  color: #ccc;

  .attribute-name {
    font-weight: 800;
    font-size: 0.7em;
    color: #000;
  }
}
