.form {
  width: 300px;
  margin: 60px auto;

  .input {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin: 3px 0 25px;
    width: 100%;
  }

  .label {
    display: block;
    text-align: left;
    font-size: 0.9em;
  }

  .fields {
    & > input {
      &:last-child {
        margin-bottom: 40px;
      }
    }
  }
}
