.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-content {
  background-color: #111;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  li {
    display: inline-block;
  }

  .title {
    color: #ddd;
    text-decoration: none;
    font-size: 1.5em;
  }

  .links {
    margin-right: 50px;
    align-self: center;

    a {
      display: inline-block;
      margin: 0 20px;
      color: rgb(184, 153, 194);
      text-decoration: none;
    }
  }
}
