<!DOCTYPE html>
<html>
  <head>
    <title>ContractManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='header'>
      <div class='header-content'>
        <a class='title' href='/' >Contact Manager</a>
        <div class='links'>
          <%= render 'devise/shared/login_itens' %>
        </div>
      </div>

      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </header>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
